Windows Application/CronusQueryWebApplication/Connected Services/CronusQueryService/CronusQueryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeysResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConstraintsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTables">
        <s:complexType />
      </s:element>
      <s:element name="GetTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTablesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetColumns">
        <s:complexType />
      </s:element>
      <s:element name="GetColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColumnsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="no_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRelatives">
        <s:complexType />
      </s:element>
      <s:element name="GetRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelativesResult" type="tns:ArrayOfRelative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRelative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Relative" nillable="true" type="tns:Relative" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Relative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="relativeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empNo_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empLastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAbcense">
        <s:complexType />
      </s:element>
      <s:element name="GetAbcenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAbcenseResult" type="tns:ArrayOfEmployeeAbsence" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployeeAbsence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmployeeAbsence" nillable="true" type="tns:EmployeeAbsence" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmployeeAbsence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="causeOfAbsenceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empNo_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empLastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMostAbsent">
        <s:complexType />
      </s:element>
      <s:element name="GetMostAbsentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMostAbsentResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeys" />
  </wsdl:message>
  <wsdl:message name="GetKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexes" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetConstraints" />
  </wsdl:message>
  <wsdl:message name="GetConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTables" />
  </wsdl:message>
  <wsdl:message name="GetTablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetColumnsSoapIn">
    <wsdl:part name="parameters" element="tns:GetColumns" />
  </wsdl:message>
  <wsdl:message name="GetColumnsSoapOut">
    <wsdl:part name="parameters" element="tns:GetColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelatives" />
  </wsdl:message>
  <wsdl:message name="GetRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAbcenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetAbcense" />
  </wsdl:message>
  <wsdl:message name="GetAbcenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetAbcenseResponse" />
  </wsdl:message>
  <wsdl:message name="GetMostAbsentSoapIn">
    <wsdl:part name="parameters" element="tns:GetMostAbsent" />
  </wsdl:message>
  <wsdl:message name="GetMostAbsentSoapOut">
    <wsdl:part name="parameters" element="tns:GetMostAbsentResponse" />
  </wsdl:message>
  <wsdl:portType name="CronusQueryWebServiceSoap">
    <wsdl:operation name="GetKeys">
      <wsdl:input message="tns:GetKeysSoapIn" />
      <wsdl:output message="tns:GetKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <wsdl:input message="tns:GetIndexesSoapIn" />
      <wsdl:output message="tns:GetIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConstraints">
      <wsdl:input message="tns:GetConstraintsSoapIn" />
      <wsdl:output message="tns:GetConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <wsdl:input message="tns:GetTablesSoapIn" />
      <wsdl:output message="tns:GetTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColumns">
      <wsdl:input message="tns:GetColumnsSoapIn" />
      <wsdl:output message="tns:GetColumnsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelatives">
      <wsdl:input message="tns:GetRelativesSoapIn" />
      <wsdl:output message="tns:GetRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAbcense">
      <wsdl:input message="tns:GetAbcenseSoapIn" />
      <wsdl:output message="tns:GetAbcenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMostAbsent">
      <wsdl:input message="tns:GetMostAbsentSoapIn" />
      <wsdl:output message="tns:GetMostAbsentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CronusQueryWebServiceSoap" type="tns:CronusQueryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeys">
      <soap:operation soapAction="http://tempuri.org/GetKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap:operation soapAction="http://tempuri.org/GetIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConstraints">
      <soap:operation soapAction="http://tempuri.org/GetConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <soap:operation soapAction="http://tempuri.org/GetTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumns">
      <soap:operation soapAction="http://tempuri.org/GetColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatives">
      <soap:operation soapAction="http://tempuri.org/GetRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbcense">
      <soap:operation soapAction="http://tempuri.org/GetAbcense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostAbsent">
      <soap:operation soapAction="http://tempuri.org/GetMostAbsent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CronusQueryWebServiceSoap12" type="tns:CronusQueryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeys">
      <soap12:operation soapAction="http://tempuri.org/GetKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap12:operation soapAction="http://tempuri.org/GetIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConstraints">
      <soap12:operation soapAction="http://tempuri.org/GetConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <soap12:operation soapAction="http://tempuri.org/GetTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumns">
      <soap12:operation soapAction="http://tempuri.org/GetColumns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatives">
      <soap12:operation soapAction="http://tempuri.org/GetRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbcense">
      <soap12:operation soapAction="http://tempuri.org/GetAbcense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostAbsent">
      <soap12:operation soapAction="http://tempuri.org/GetMostAbsent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CronusQueryWebService">
    <wsdl:port name="CronusQueryWebServiceSoap" binding="tns:CronusQueryWebServiceSoap">
      <soap:address location="http://localhost:49869/CronusQueryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CronusQueryWebServiceSoap12" binding="tns:CronusQueryWebServiceSoap12">
      <soap12:address location="http://localhost:49869/CronusQueryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>